<div id="toolbox" class="container">

    <div class="row text-center">
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-search white" aria-hidden="true"> </span>
		</div>
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-search white" aria-hidden="true"> </span>
		</div>
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-search white" aria-hidden="true"> </span>
		</div>
    </div><br>
	<div class="row text-center">
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-search white" aria-hidden="true"> </span>
		</div>
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-search white" aria-hidden="true"> </span>
		</div>
		<div class="col-lg-4">
			<span class="glyphicon glyphicon-search white" aria-hidden="true"> </span>
		</div>
    </div>
	
</div>
<!-- /.container -->

