<div ng-include='"app/views/templates/header.html"'></div>
<div class="container"><br>
  <div class="row clearfix">    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1">

      <form class="form-horizontal">
        <fieldset>
        <!-- Form Name -->
        <legend>Criação de Lesson Learned</legend>
        <br>
        <div class="form-group">
          <label class="col-md-6 control-label" for="technologies">{{ 'SELECT_TECHS' | translate }}</label>
          <select id="technologies" multiple="true" ng-model="lesson.technologies" ng-options="technology.technology for technology in technologies"></select>
        </div><br>

        <!-- 
        <div class="form-group">
          <label class="col-md-6 control-label" for="manager">{{ 'SELECT_MANAGER' | translate }}</label>
          <select id="manager" ng-model="lesson.manager">
            <option value="">{{ 'SELECT' | translate }}</option>
            <option ng-repeat="manager in managers" value="{{ manager.idusers }}">{{ manager.name }}</option>
          </select>
        </div><br>

        <div class="form-group">
          <label class="col-md-6 control-label" for="client">{{ 'SELECT_CLIENT' | translate }}</label>
          <input type="text" class="form-control" ng-model="lesson.client" id="client" placeholder="{{ 'CLIENT' | translate }}">
        </div><br> -->

        <div class="form-group">
          <label class="col-md-6 control-label" for="project">{{ 'SELECT_PROJECT' | translate }}</label>
          <select id="project" ng-model="lesson.project">
            <option value="">{{ 'NONE' | translate }}</option>
            <option ng-repeat="project in projects" value="{{ project.name }}">{{ project.name }}</option>
          </select>
        </div><br>

          <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-6 control-label" for="textarea">{{ 'DESCRIPTION' | translate }}</label>
          <div class="col-md-12">                     
            <textarea rows="15" class="ll form-control" id="textarea" ng-trim="false" name="textarea" max-length="9999" ng-model="lesson.situation" required>default text</textarea>
            <span>{{ 9999 - lesson.situation.length}} {{ 'CHARS_LEFT' | translate }}</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-6 control-label" for="textarea">{{ 'ACTION_TAKEN' | translate }}</label>
          <div class="col-md-12">                     
            <textarea rows="15" class="ll form-control" id="textarea" ng-trim="false" name="textarea" max-length="9999" ng-model="lesson.actionTaken" required>default text</textarea>
            <span>{{ 9999 - lesson.actionTaken.length}} {{ 'CHARS_LEFT' | translate }}</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-6 control-label" for="textarea">{{ 'RESULT_DESCRIPTION' | translate }}</label>
          <div class="col-md-12">                     
            <textarea rows="15" class="ll form-control" id="textarea" ng-trim="false" name="textarea" max-length="9999" ng-model="lesson.result" required>default text</textarea>
            <span>{{ 9999 - lesson.result.length}} {{ 'CHARS_LEFT' | translate }}</span>
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="button1id"></label>
          <div class="col-md-12">
            <button ng-click="createLesson(lesson, false)" id="button1id" name="button1id" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
            <button ng-click="createLesson(lesson, true)" id="button1id" name="button1id" class="btn btn-success">{{ 'SAVE_DRAFT' | translate }}</button>
            <button id="button2id" name="button2id" class="btn btn-danger">{{ 'CANCEL' | translate }}</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div>    
  </div>
</div>