<br>
<br>
<div class="container">
  <div class="row clearfix">
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1">

<form ng-submit="addLesson(lesson)" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Criação de Lesson Learned</legend>
<br>
<div class="form-group">
  <div class="col-md-4" ng-repeat="technology in technologies track by $index">
  <label class="col-md-4 control-label" for="textarea">Tecnologias</label>
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="{{ technology.nome }}"> {{ technology.nome }} </option>
    </select>
  </div>
</div>

  <!-- Textarea -->
<div class="form-group">
  <label class="col-md-6 control-label" for="textarea">Text Area</label>
  <div class="col-md-12">                     
    <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-6 control-label" for="textarea">Text Area</label>
  <div class="col-md-12">                     
    <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-6 control-label" for="textarea">Text Area</label>
  <div class="col-md-12">                     
    <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-3 control-label" for="button1id"></label>
  <div class="col-md-12">
    <button id="button1id" name="button1id" class="btn btn-success">Ok</button>
    <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
  </div>
</div>

</fieldset>
</form>
    </div>
    
  </div>
</div>