<link rel="stylesheet" href="styles/home.css">


<div ng-include='"app/views/templates/header.html"'></div>

<div id="toolbox" class="container">
	<div class="row text-center">
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="user_management"><i class="fa fa-users" /><br>Users</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="listll"><i class="fa fa-search"/><br>Lessons Learned</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-bar-chart"/><br>Statistics</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-spinner"></i><br>In wait</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-refresh" /><br>Audit Trail</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-cog" /><br>Settings</a>
		</div>
	</div>
</div>

    <div ng-include='"app/views/templates/footer.html"'></div>