<link rel="stylesheet" href="styles/list_ll.css">

<div ng-include='"app/views/templates/header.html"'></div>
<div class="section">

    <div class="container">
        <div class="card card-container">

            <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
            <div class="list-group" id="lessonslist">


                <a href="#" class="list-group-item clearfix">
                    <span class="lessonslistTitle list-group-item-text">{{ 'HOME' | translate }}</span>
                    <span class="lessonslistSubmitter list-group-item-text">
                    <small class="list-group-item-text"> Submitted by: </small>

                                  Submitter
                                </span>

                    <span class="pull-right">

                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-folder-open"></i></button>
                            <button type="button" class="btn btn-primary addLesson"><i class="glyphicon glyphicon-plus"></i></button>
                            <button type="button" class="btn btn-primary "><i class="glyphicon glyphicon-new-window"></i></button>
                        </div>


                    </span>
                </a>




            </div>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-floppy-save"></i> {{ 'EXPORT' | translate }}

                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">{{ 'EXPORT_TO_PDF' | translate }} </a></li>
                    <li><a href="#">{{ 'EXPORT_TO_CSV' | translate }}</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script src="scripts/list_ll.js"></script>
