<div class="section">

    <div class="container">
        <div class="card card-container">

            <div class="list-group" id="lessonslist">
                <a href="#" class="list-group-item ">{{ 'HOME' | translate }} </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'EXPORT' | translate }}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">{{ 'EXPORT_TO_PDF' | translate }} </a></li>
                    <li><a href="#">{{ 'EXPORT_TO_CSV' | translate }}</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

<script src="scripts/list_ll.js"></script>
