<link href="styles/settings.css" type="text/css" rel="stylesheet"></link>
<link href="styles/tags.min.css" rel="stylesheet">
<script src="scripts/tags.min.js"></script>
<div ng-include='"app/views/templates/header.html"'></div>
<div class="container">
  <h4>Tecnologias</h4>
  <br><br>
  <!-- Trigger the modal with a button -->
    <input name="tags3" type="text">
  <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal" id="cen">Inserir tecnologia</button>
  <br><br>
  <script>

  config = {
     // Tags joiner of the output value
    values: ['java', 'SQL'], // pre-defined tags data
 
};
  var foo = new Tags(document.querySelector('input[name="tags3"]'), config);
  foo.beautify();
  
  </script>
  
</div>
<br><br>
<div class="container">
  <h4>Tipo de Projeto</h4>
  <br><br>
  <!-- Trigger the modal with a button -->
    <input name="tags2" type="text">
  <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal3">Inserir Tipo</button>
  <script>
  config = {
    join: ', ', // Tags joiner of the output value
    values: ['Oficial', 'Development'], // pre-defined tags data
 
};
  var foo = new Tags(document.querySelector('input[name="tags2"]'), config);
  foo.beautify();
  </script>
   <br><br>
  
</div>
<br><br>
<div class="container">
  <h4>Setor de Projeto</h4><br><br>
  <!-- Trigger the modal with a button -->
  <input name="tags" type="text">
  <script>
  config = {
    join: ', ', // Tags joiner of the output value
    values: ['A1', 'C2' ,'B2'], // pre-defined tags data
 
};
  var foo = new Tags(document.querySelector('input[name="tags"]'), config);
  foo.beautify();
  </script>
  <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal2">Inserir Setor</button>
   <br><br>
  
</div>
