<link rel="stylesheet" href="../../styles/user.css">
<div class="section">

    <div class="container">

       <table class="table">
    <tbody>
    <tr class="info">
        <td> <span class="glyphicon glyphicon-user" aria-hidden="true"> </td>
        <td>NOME</td>
        <td>USERNAME</td>
        <td>EMAIL</td>
        <td>PROJETO</td>
        <td> <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </td>
      </tr>
    <tr class="info">
      <td> <span class="glyphicon glyphicon-user" aria-hidden="true"> </td>
        <td>NOME</td>
        <td>USERNAME</td>
        <td>EMAIL</td>
        <td>PROJETO</td>
        <td> <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </td>
      </tr>
       <tr class="info">
      <td> <span class="glyphicon glyphicon-user" aria-hidden="true"> </td>
        <td>NOME</td>
        <td>USERNAME</td>
        <td>EMAIL</td>
        <td>PROJETO</td>
        <td> <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </td>

      </tr>
    </tbody>
  </table>
        <!-- /.row -->
        <div style="text-align:center;">
        <button type="button" class="btn btn-primary" id="gobutton" >ADD USER</button>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
