<link rel="stylesheet" href="styles/view_ll.css">


<div ng-include='"app/views/templates/header.html"'></div>

<div id="viewll"class="container">
	<div class="row">
		<button ng-click="getLesson(1)" id="getLessonBtn" type="button" class="btn btn-default">Get Lesson</button>
	</div>

	<div class="row">
		<div class="col-lg-9 col-xs-12 col-md-4">
			
			<div class="row">
				<div class="col-lg-4 col-xs-12 col-md-4">
					<textarea id="vll_title" class="form-control" rows="2" >Title</textarea>
				</div>
				<div class="col-lg-4 col-xs-12 col-md-4">
					<textarea id="vll_client" class="form-control" rows="2" >Client</textarea>
				</div>
				<div class="col-lg-4 col-xs-12 col-md-4">
					<textarea id="vll_state" class="form-control" rows="2" >State</textarea>
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-4">
					<textarea id="vll_situation" class="form-control" rows="10" >Situation</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-4">
					<textarea id="vll_action" class="form-control" rows="10" >Action taken</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-4">
					<textarea id="vll_results" class="form-control" rows="10" >Results</textarea>
				</div>
			</div>
			
			
		</div>
		
		<div class="col-lg-3 col-xs-12 col-md-4">
		
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-4">
					<textarea class="form-control" rows="5" >Toolbox</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-4">
					<textarea id="vll_info" class="form-control" rows="32" >Info</textarea>
				</div>
			</div>
		</div>
			
	</div>
		
	</div>
	
</div>

<div ng-include='"app/views/templates/footer.html"'></div>