<link rel="stylesheet" href="styles/view_ll.css">


<div ng-include='"app/views/templates/header.html"'></div>

<div id="viewll"class="container">
	<div class="row">
		<div class="col-lg-5 col-xs-12 col-md-5">
			<div class="panel">
			  <div class="panel-heading">Title</div>
			  <div id="lltitle" class="panel-body">Placeholder Project</div>
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 col-md-3">
			<div class="panel">
			  <div class="panel-heading">Client</div>
			  <div id="llclient" class="panel-body">Placeholder Client </div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-6 col-md-2">
			<div class="panel">
			  <div class="panel-heading">Status</div>
			  <div class="panel-body noborder">
			  <input id="llstatus" type="checkbox" data-style="android" data-height="43" data-on="Approved " data-off="Inactive" checked data-toggle="toggle" data-onstyle="success">
				<script>
				  $(function() {
					$('#llstatus').bootstrapToggle();
				  })
				</script>
			  </div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-6 col-md-2">
			<div class="toolbox">
				<!-- <i id="delete" class="fa fa-trash-o" aria-hidden="true"></i> -->
				<i id="audi" class="ic fa fa-refresh" aria-hidden="true"></i>
				<i id="edit" class="ic fa fa-pencil" aria-hidden="true"></i>
			</div>
		</div>	
	</div>
	
	<div class="row">
		<div class="lldata col-lg-9 col-xs-12 col-md-9">
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-12">
					<div class="panel">
						<div class="panel-heading">Situation</div>
						<div class="panel-body noborder">
							<textarea id="llsituation" class="form-control" rows="10" >Placeholder text.</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-12">
					<div class="panel">
						<div class="panel-heading">Action</div>
						<div class="panel-body noborder">
							<textarea id="llaction" class="form-control" rows="10" >Placeholder text.</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12 col-md-12">
					<div class="panel">
						<div class="panel-heading">Results</div>
						<div class="panel-body noborder">
							<textarea id="llresults" class="form-control" rows="10" >Placeholder text.</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="llinfo" class="col-lg-3 col-xs-12 col-md-3">
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Manager</div>
					<div id="llmanager" class="panel-body">Placeholder text. </div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Dimension</div>
					<div id="lldimension" class="panel-body">Placeholder text. </div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Start Date</div>
					<div id="llstart" class="panel-body">Placeholder text. </div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Expect Finish Date</div>
					<div id="llexpected" class="panel-body">Placeholder text. </div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Finish Date</div>
					<div id="llfinish" class="panel-body">Placeholder text. </div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Technologies</div>
					<div id="lltech" class="panel-body">Placeholder text. </div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">Description</div>
					<div class="panel-body noborder">
						<textarea id="lldesc" class="lldesc form-control">Placeholder text.</textarea>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
</div>

<div ng-include='"app/views/templates/footer.html"'></div>