#viewll {
	margin-top: 5vw;
	font-weight: bold;
}



.panel {
	border:0px;
}

.panel-heading {
	
	padding:4px;
	padding-left:13px;
	border:0;
	color:#000;
	background-color:#729BD3;
	font-size:15px;
	
}

.llstatus {
	padding-left:10px;
	
}

.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }

.toggle {
	width: 100% !important;
}

.toggle-group > .btn {
	color: #000 !important;
	font-family: 'corbertregular';
	font-weight: bold;
	font-size:13px;
}

.toggle-group > label {
	padding-top:5px;
}


.panel-body {
	padding-top:10px;
	height: 100%;
	color:#000;
	
	font-size:13px;

}

.noborder {
	margin:0;
	padding:0;
}

.ic {
	height:100%;
	margin:0;
	padding-right: 15px;
	font-size: 40px;
}

.ic:hover {
	color:orange;
	cursor: pointer;
}

.toolbox {
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	padding-bottom:42px;
}

.toolbox > .fa {
	padding-top:15px;
}

textarea { 
	resize:vertical ;
}

#lldata {
	margin-bottom: 20px;
}

.lldesc {
	height:188px !important;
}

#llinfo > .row {
	padding-left: 15px;
	padding-right: 15px;
}