<link rel="stylesheet" href="styles/create_project.css">

<div ng-include='"app/views/templates/header.html"'></div>

<!-- Select Basic -->
<!-- Text input-->
<div class="container">
  <div class="row clearfix">
<form ng-submit="addProject(project)">
<fieldset>
<div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1" >
  <div class="col-md-5">
    <input ng-model="project.name" id="textinput" name="textinput" type="text" placeholder="{{ 'PROJECT_NAME' | translate }}" class="form-control input-md">
  </div>
</div>

<div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1" >
  <div class="col-md-5">
    <input ng-model="project.deliveringModel" id="textinput" name="textinput" type="text" placeholder="{{ 'DELIVERING_MODEL' | translate }}" class="form-control input-md">
  </div>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1">
<div class="col-md-4">
    <select id="selectbasic" ng-model="project.manager" name="selectbasic" class="form-control sc">
      <option value="" disabled selected>{{ 'PROJECT_MANAGER' | translate }}</option>
      <option  ng-repeat="manager in managers" value="{{ manager.name }}"> {{ manager.name  }} </option>
    </select>
  </div>
  <div class="col-md-4">
    <input ng-model="project.numberConsultants" id="textinput" name="textinput" type="text" placeholder="{{ 'COLABORATORS' | translate }}" class="form-control input-md">
  </div>
<div class="col-md-4">
    <select ng-model="project.sector" id="textinput" name="textinput" type="text" class="form-control input-md sc">
      <option value="" disabled selected>{{ 'BUSINESS_SECTOR' | translate }}</option>
      <option ng-repeat="sector in sectors" value="{{ sector.name }}">{{ sector.name }}</option>
    </select>
  </div>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1">
  <div class="col-md-4">
       <input ng-model="date.dateBeginning" type="date" class="form-control input-md" placeholder="yyyy-MM-dd">
  </div>
  <div class="col-md-4">
       <input ng-model="date.dateEndExpected" type="date" class="form-control input-md" placeholder="yyyy-MM-dd">
  </div>
  <div class="col-md-4">
       <input ng-model="date.dateEnd" type="date" class="form-control input-md" placeholder="yyyy-MM-dd">
  </div>
</div>

<div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-10  column col-sm-offset-0 col-md-offset-2 col-lg-offset-1">
  <div class="col-md-4">
    <input ng-model="project.daysDuration" id="textinput" name="textinput" type="text" placeholder="{{ 'DAYS_LENGTH' | translate }}" class="form-control input-md">
  </div>
  <div class="col-md-4">
    <select id="selectbasic" ng-model="project.type"  name="selectbasic" class="form-control sc">
      <option value="" disabled selected>{{ 'PROJECT_TYPE' | translate }}</option>
      <option ng-repeat="type in types" value="{{ type.name }}">{{ type.name }}</option>
    </select>
  </div>
    <div class="col-md-4">
      <input ng-model="project.client" id="textinput" name="textinput" type="text" placeholder="{{ 'CLIENT' | translate }}" class="form-control input-md">
  </div>
</div>

</fieldset>
<!-- Button (Double) -->
  <button type="submit" class="btn btn-primary btn-outline pull-right">{{ 'ADD_PROJECT' | translate }}</button>

  <button type="submit" class="btn btn-primary btn-outline pull-right">{{ 'CANCEL' | translate }}</button>

</form>
    </div>
    
</div>